gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
../../../../.pub-cache/hosted/pub.dev/webview_flutter_android-4.10.11/android/key.properties
**/*.keystore
**/*.jks
